ALTER TABLE public.cours ALTER COLUMN id_salle DROP NOT NULL;
CREATE TABLE IF NOT EXISTS public.audit_logs ( id_audit integer GENERATED BY DEFAULT AS IDENTITY, entity character varying(100) NOT NULL, entity_id integer NULL, operation character varying(20) NOT NULL, changed_by character varying(100) NULL, changed_at timestamp with time zone NOT NULL, details text NULL, CONSTRAINT PK_audit_logs PRIMARY KEY (id_audit) );
